/* 2020 Seiling Enterprises */
:root {
    --text-box-margin: 15pt;
}

* {
    margin: 0;
}

.navbar {
    background-color: black;
    color: white;
}
.navbar h1 {
    margin-left: 50pt;
}
a {
    color: white;
    text-decoration: none;
}
.navbar h1:hover {
    color: rgb(77, 77, 77);
}

.input_box {
    margin-right: var(--text-box-margin);
    margin-left: var(--text-box-margin);
    float: left;
}

textarea {
    border-radius: 5pt;
    border: 2pt solid rgb(13, 0, 201);
}